<header class="js-site-header site-header">
    <div class="site-header__inner">
    	<span class="site-logo -wide">
            <a href="javascript:void();" class="svg-logo" data-grunticon-embed>Powered by: Leeds Data Mill</a>
        </span>
    	<span class="site-logo -thin">
            <a href="javascript:void();" class="svg-logo-thin" data-grunticon-embed>Powered by: Leeds Data Mill</a>
        </span>
    	{{header-nav navItems=navItems subNavItems=navItems action="gotoRoute"}}
    </div>
    <div class="js-top-drawer js-toolbox drawer -top">
    	{{top-drawer navItems=topDrawerNavItems}}
    </div>
</header>
