# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp

# dependencies
/node_modules
/bower_components

# misc
.DS_Store
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
*.sln
*.proj
*.suo
.idea/watcherTasks.xml
.idea/dictionaries
.idea/encodings.xml
.idea/hebe.iml
.idea/misc.xml
.idea/modules.xml
.idea/scopes
.idea/vcs.xml
.idea/workspace.xml
