<!--
    <li class="js-canvas canvas">
    <div class="js-stories canvas__inner">
        <div class="js-story story -w1 -h2 -black">
            <div class="story__inner" style="background-size: 100% auto; background-image: url('/assets/img/lufc.png');">
                &nbsp;
            </div>
        </div>
            
            
-->      
            

<!--        {{#each story in model}}
            {{stories/story-leeds-inspired title=story.title}}
        {{/each}}-->

<!--
        <div class="js-story story -w2 -h2 -white" data-ss-colspan="2">
            <div class="story__inner">
                <span class="js-story-handle story__handle">Handle</span>
                <div class="story__card -front">
                    <div class="story__content">
                        <a href="javascript:;" class="js-cogs icon icon-cogs svg-cogs" data-grunticon-embed>Settings</a>
                    </div>
                </div>
                <div class="story__card -back">
                    <div class="story__content">
                        <a href="javascript:;" class="js-cogs icon icon-cogs svg-cogs" data-grunticon-embed>Settings</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="js-story story -w1 -h2 -blue">
            <div class="story__inner">
                <span class="js-story-handle story__handle">Handle</span>
                <div class="story__card -front">
                    <div class="story__content">
                        <a href="javascript:;" class="js-cogs icon icon-cogs svg-cogs" data-grunticon-embed>Settings</a>
                    </div>
                </div>
                <div class="story__card -back">
                    <div class="story__content">
                        <a href="javascript:;" class="js-cogs icon icon-cogs svg-cogs" data-grunticon-embed>Settings</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="js-story story -w2 -h2 -white" data-ss-colspan="2">
            <div class="story__inner">
                <span class="js-story-handle story__handle">Handle</span>
                <div class="story__card -front">
                    <div class="story__content">
                        <a href="javascript:;" class="js-cogs icon icon-cogs svg-cogs" data-grunticon-embed>Settings</a>
                    </div>
                </div>
                <div class="story__card -back">
                    <div class="story__content">
                        <a href="javascript:;" class="js-cogs icon icon-cogs svg-cogs" data-grunticon-embed>Settings</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="js-story story -w2 -h2 -white" data-ss-colspan="2">
            <div class="story__inner">
                <span class="js-story-handle story__handle">Handle</span>
                <div class="story__card -front">
                    <div class="story__content">
                        <a href="javascript:;" class="js-cogs icon icon-cogs svg-cogs" data-grunticon-embed>Settings</a>
                    </div>
                </div>
                <div class="story__card -back">
                    <div class="story__content">
                        <a href="javascript:;" class="js-cogs icon icon-cogs svg-cogs" data-grunticon-embed>Settings</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="js-story story -w2 -h1 -black" data-ss-colspan="2">
            <div class="story__inner">
                <span class="js-story-handle story__handle">Handle</span>
                <div class="story__card -front">
                    <div class="story__content">
                        <a href="javascript:;" class="js-cogs icon icon-cogs svg-cogs" data-grunticon-embed>Settings</a>
                    </div>
                </div>
                <div class="story__card -back">
                    <div class="story__content">
                        <a href="javascript:;" class="js-cogs icon icon-cogs svg-cogs" data-grunticon-embed>Settings</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="js-story story -w1 -h2 -black">
            <div class="story__inner">
                <span class="js-story-handle story__handle">Handle</span>
                <div class="story__card -front">
                    <div class="story__content">
                        <a href="javascript:;" class="js-cogs icon icon-cogs svg-cogs" data-grunticon-embed>Settings</a>
                    </div>
                </div>
                <div class="story__card -back">
                    <div class="story__content">
                        <a href="javascript:;" class="js-cogs icon icon-cogs svg-cogs" data-grunticon-embed>Settings</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="js-story story -w2 -h2 -white" data-ss-colspan="2">
            <div class="story__inner">
                <span class="js-story-handle story__handle">Handle</span>
                <div class="story__card -front">
                    <div class="story__content">
                        <a href="javascript:;" class="js-cogs icon icon-cogs svg-cogs" data-grunticon-embed>Settings</a>
                    </div>
                </div>
                <div class="story__card -back">
                    <div class="story__content">
                        <a href="javascript:;" class="js-cogs icon icon-cogs svg-cogs" data-grunticon-embed>Settings</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="js-story story -w2 -h2 -ivory" data-ss-colspan="2">
            <div class="story__inner">
                <span class="js-story-handle story__handle">Handle</span>
                <div class="story__card -front">
                    <div class="story__content">
                        <a href="javascript:;" class="js-cogs icon icon-cogs svg-cogs" data-grunticon-embed>Settings</a>
                    </div>
                </div>
                <div class="story__card -back">
                    <div class="story__content">
                        <a href="javascript:;" class="js-cogs icon icon-cogs svg-cogs" data-grunticon-embed>Settings</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="js-story story -w1 -h2 -blue">
            <div class="story__inner">
                <span class="js-story-handle story__handle">Handle</span>
                <div class="story__card -front">
                    <div class="story__content">
                        <a href="javascript:;" class="js-cogs icon icon-cogs svg-cogs" data-grunticon-embed>Settings</a>
                    </div>
                </div>
                <div class="story__card -back">
                    <div class="story__content">
                        <a href="javascript:;" class="js-cogs icon icon-cogs svg-cogs" data-grunticon-embed>Settings</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="js-story story -w2 -h2 -white" data-ss-colspan="2">
            <div class="story__inner">
                <span class="js-story-handle story__handle">Handle</span>
                <div class="story__card -front">
                    <div class="story__content">
                        <a href="javascript:;" class="js-cogs icon icon-cogs svg-cogs" data-grunticon-embed>Settings</a>
                    </div>
                </div>
                <div class="story__card -back">
                    <div class="story__content">
                        <a href="javascript:;" class="js-cogs icon icon-cogs svg-cogs" data-grunticon-embed>Settings</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="js-story story -w2 -h2 -white" data-ss-colspan="2">
            <div class="story__inner">
                <span class="js-story-handle story__handle">Handle</span>
                <div class="story__card -front">
                    <div class="story__content">
                        <a href="javascript:;" class="js-cogs icon icon-cogs svg-cogs" data-grunticon-embed>Settings</a>
                    </div>
                </div>
                <div class="story__card -back">
                    <div class="story__content">
                        <a href="javascript:;" class="js-cogs icon icon-cogs svg-cogs" data-grunticon-embed>Settings</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="js-story story -w2 -h1 -black" data-ss-colspan="2">
            <div class="story__inner">
                <span class="js-story-handle story__handle">Handle</span>
                <div class="story__card -front">
                    <div class="story__content">
                        <a href="javascript:;" class="js-cogs icon icon-cogs svg-cogs" data-grunticon-embed>Settings</a>
                    </div>
                </div>
                <div class="story__card -back">
                    <div class="story__content">
                        <a href="javascript:;" class="js-cogs icon icon-cogs svg-cogs" data-grunticon-embed>Settings</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="js-story story -w1 -h2 -black">
            <div class="story__inner">
                <span class="js-story-handle story__handle">Handle</span>
                <div class="story__card -front">
                    <div class="story__content">
                        <a href="javascript:;" class="js-cogs icon icon-cogs svg-cogs" data-grunticon-embed>Settings</a>
                    </div>
                </div>
                <div class="story__card -back">
                    <div class="story__content">
                        <a href="javascript:;" class="js-cogs icon icon-cogs svg-cogs" data-grunticon-embed>Settings</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="js-story story -w2 -h2 -white" data-ss-colspan="2">
            <div class="story__inner">
                <span class="js-story-handle story__handle">Handle</span>
                <div class="story__card -front">
                    <div class="story__content">
                        <a href="javascript:;" class="js-cogs icon icon-cogs svg-cogs" data-grunticon-embed>Settings</a>
                    </div>
                </div>
                <div class="story__card -back">
                    <div class="story__content">
                        <a href="javascript:;" class="js-cogs icon icon-cogs svg-cogs" data-grunticon-embed>Settings</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="js-story story -w2 -h2 -ivory" data-ss-colspan="2">
            <div class="story__inner">
                <span class="js-story-handle story__handle">Handle</span>
                <div class="story__card -front">
                    <div class="story__content">
                        <a href="javascript:;" class="js-cogs icon icon-cogs svg-cogs" data-grunticon-embed>Settings</a>
                    </div>
                </div>
                <div class="story__card -back">
                    <div class="story__content">
                        <a href="javascript:;" class="js-cogs icon icon-cogs svg-cogs" data-grunticon-embed>Settings</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="js-story story -w1 -h2 -blue">
            <div class="story__inner">
                <span class="js-story-handle story__handle">Handle</span>
                <div class="story__card -front">
                    <div class="story__content">
                        <a href="javascript:;" class="js-cogs icon icon-cogs svg-cogs" data-grunticon-embed>Settings</a>
                    </div>
                </div>
                <div class="story__card -back">
                    <div class="story__content">
                        <a href="javascript:;" class="js-cogs icon icon-cogs svg-cogs" data-grunticon-embed>Settings</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="js-story story -w2 -h2 -white" data-ss-colspan="2">
            <div class="story__inner">
                <span class="js-story-handle story__handle">Handle</span>
                <div class="story__card -front">
                    <div class="story__content">
                        <a href="javascript:;" class="js-cogs icon icon-cogs svg-cogs" data-grunticon-embed>Settings</a>
                    </div>
                </div>
                <div class="story__card -back">
                    <div class="story__content">
                        <a href="javascript:;" class="js-cogs icon icon-cogs svg-cogs" data-grunticon-embed>Settings</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="js-story story -w2 -h2 -white" data-ss-colspan="2">
            <div class="story__inner">
                <span class="js-story-handle story__handle">Handle</span>
                <div class="story__card -front">
                    <div class="story__content">
                        <a href="javascript:;" class="js-cogs icon icon-cogs svg-cogs" data-grunticon-embed>Settings</a>
                    </div>
                </div>
                <div class="story__card -back">
                    <div class="story__content">
                        <a href="javascript:;" class="js-cogs icon icon-cogs svg-cogs" data-grunticon-embed>Settings</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="js-story story -w2 -h1 -black" data-ss-colspan="2">
            <div class="story__inner">
                <span class="js-story-handle story__handle">Handle</span>
                <div class="story__card -front">
                    <div class="story__content">
                        <a href="javascript:;" class="js-cogs icon icon-cogs svg-cogs" data-grunticon-embed>Settings</a>
                    </div>
                </div>
                <div class="story__card -back">
                    <div class="story__content">
                        <a href="javascript:;" class="js-cogs icon icon-cogs svg-cogs" data-grunticon-embed>Settings</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="js-story story -w1 -h1 story--add">
            <a href="javascript:;" class="js-add-story story__inner"><span class="icon-plus svg-plus" data-grunticon-embed></span>Add a new story</a>
        </div>
    </div>
</li>
{{yield}}
-->