
{{#stories/story-base 
	title="weather" 
	
	color="-dark-blue" 
	width="-w4" 
	height="-h2" 
	data-ss-colspan="2"
	headerBorder=true

    dataSourceUrl=""
    feedbackEmail="simon@hebeworks.com"
    description="This Story uses Environment Agency flood and river level data from the real-time data API (Beta)"
    license="Open Government License"
    
}}

    <main class="river-levels">
{{!--     	{{
            select-2
            content=stations
            value=selectedStation
            optionLabelPath="name"
            placeholder="Select Measurment Station"
        	}} --}}
            {{!-- optionValuePath="id" --}}

<a href="http://www.accuweather.com/en/gb/leeds/ls1-6/weather-forecast/712327" class="aw-widget-legal">

</a><div id="awcc1436022240501" class="aw-widget-current"  data-locationkey="712327" data-unit="c" data-language="en-us" data-useip="false" data-uid="awcc1436022240501"></div><script type="text/javascript" src="http://oap.accuweather.com/launch.js"></script>
        
        </main>
{{/stories/story-base}}
