.-zetta,
%-zetta {
    @include font-size($kilo-size);

    @media screen and (min-width: 640px) {
        @include font-size($giga-size);
    }

    @include breakpoint(769px) {
        @include font-size($peta-size);
    }
    @include breakpoint(1220px) {
        @include font-size($zetta-size);
    }
}

.-exa,
%-exa {
    @include font-size($giga-size);

    @include breakpoint(769px) {
        @include font-size($peta-size);
    }
    @include breakpoint(1220px) {
        @include font-size($exa-size);
    }
}

.-peta,
%-peta {
    @include font-size($kilo-size);

    @include breakpoint(769px) {
        @include font-size($giga-size);
    }
    @include breakpoint(1220px) {
        @include font-size($peta-size);
    }
}

.-tera,
%-tera {
    @include font-size($kilo-size);

    @include breakpoint(769px) {
        @include font-size($giga-size);
    }
    @include breakpoint(1220px) {
        @include font-size($tera-size);
    }
}

.-giga,
%-giga {
    @include font-size($kilo-size);

    @include breakpoint(769px) {
    @include font-size($mega-size);
    }
    @include breakpoint(1220px) {
    @include font-size($giga-size);
    }
  
}

.-mega,
%-mega {
    @include font-size($h1-size);
    
    @include breakpoint(769px) {
      @include font-size($kilo-size);
    }
    @include breakpoint(1220px) {
      @include font-size($mega-size);
    }
}

.-kilo,
%-kilo {
    @include font-size($h2-size);
    
    @include breakpoint(769px) {
      @include font-size($kilo-size);
    }
}

.-hecto,
%-hecto {
    @include font-size($h2-size);
    
    @include breakpoint(769px) {
      @include font-size($hecto-size);
    }
}

h1, 
.-alpha,
%-alpha {
    @include font-size($h3-size);
    line-height: 1.125em;
  
    @include breakpoint(769px) {
        @include font-size($h2-size);
    }
    @include breakpoint(1220px) {
        @include font-size($h1-size);
    }
}

h2, 
.-beta,
%-beta {
    @include font-size($h4-size);
    line-height: 1.1851851852em;
    
    @include breakpoint(769px) {
        @include font-size($h3-size);
    }
    @include breakpoint(1220px) {
        @include font-size($h2-size);
    }
}

h3, 
.-gamma,
%-gamma {
    @include font-size($h5-size);
    
    @include breakpoint(769px) {
        @include font-size($h4-size);
    }
    @include breakpoint(1220px) {
        @include font-size($h3-size);
    }
}

h4, 
.-delta,
%-delta {
    @include font-size($h6-size);
    line-height: 1.2em;
    font-weight: 300;
    
    @include breakpoint(769px) {
        @include font-size($h5-size);
    }
    @include breakpoint(1220px) {
        @include font-size($h4-size);
    }
}

h5, 
.-epsilon,
%-epsilon {
    @include font-size($h6-size);
    line-height: 1.2em;

    @include breakpoint(769px) {
        @include font-size($h5-size);
    }
}

h6, 
.-zeta,
%-zeta {
    @include font-size($h6-size);
}

p {
    @include font-size($h5-size);
    
    @include breakpoint(769px) {
        @include font-size($h4-size);
    }
}