.thumb-list {
    position: relative;
    margin-bottom: 1em;

    &:after {
        content: '';
        width: 18px;
        position: absolute;
        top: 14px;
        bottom: 14px;
        right: 0;
        background-color: $off-white;
        border-left: 1px solid $light-grey;
    }

    &.-dark {
        .thumb-list__inner {
            background-color: $light-grey;
        }

        &:after {
            background-color: $light-grey;
            border-color: $grey;
        }
    }
}

.thumb-list-heading {
    margin-bottom: 10px;
}

.thumb-list__inner {
    @include clean-list;
    @include cf;
    border-radius: 5px;
    background-color: $off-white;
    padding: 20px 10px 12px 20px;
    overflow-x: auto;
    white-space: nowrap;

    + .thumb-list {
        margin-top: 1.5em;
    }
}

    .thumb {
        width: 85px;
        display: inline-block;
        white-space: normal;
        margin-right: 21px;
        cursor: pointer;
    }

        .thumb__icon {
            padding-top: 100%;
            border-radius: 10px;
            background-color: #fff;
        }

        .thumb__title {
            color: $blue;
            margin: .5em 0 0;
        }

        .thumb__category {
            color: $grey;
            margin: .5em 0 0;
        }